<div class="mat-dialog-container">
<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
    <form [formGroup]="registrationForm">
        <div class="row">
            <div class="col-lg-4">
                <img [src]="imageSrc" *ngIf="imageSrc" style="height: 310px; width:300px">
                <div class="form-group">
                    <input formControlName="file" id="file" type="file" class="inputfile inputfile-1"
                        (change)="onFileChange($event)">
                </div>
                <div *ngIf="registrationForm.controls['file'].invalid && (registrationForm.controls['file'].dirty || registrationForm.controls['file'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="registrationForm.controls['file'].errors?.required">
                        Profile Picture is required.
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div style="display:flex;" class="form-group">
                    <input style="width:50%; margin-right:10px;" id="fN" type="text" formControlName="fname"
                        class="form-control" placeholder=" First-Name" required>

                    <input style="width:50%;" type="text" id="lN" formControlName="lname" class="form-control"
                        placeholder="Last-Name" required>

                </div>

                <div *ngIf="registrationForm.controls['fname'].invalid && (registrationForm.controls['fname'].dirty || registrationForm.controls['fname'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="registrationForm.controls['fname'].errors?.required">
                        First-Name is required.
                    </div>
                </div>
                <div *ngIf="registrationForm.controls['lname'].invalid && (registrationForm.controls['lname'].dirty || registrationForm.controls['lname'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="registrationForm.controls['lname'].errors?.required">
                        Last-Name is required.
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email"
                            required>
                    </div>
                    <div *ngIf="registrationForm.controls['email'].invalid && (registrationForm.controls['email'].dirty || registrationForm.controls['email'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="registrationForm.controls['email'].errors?.required">
                            Email is required.
                        </div>
                    </div>
                </div>
                
                <div>
                    <div class="form-group">
                        <input type="tel" id="phone" formControlName="phone" class="form-control"
                            placeholder="Mobile Number" min="0000000000" max="9999999999" required>
                    </div>
                    <div *ngIf="registrationForm.controls['phone'].invalid && (registrationForm.controls['phone'].dirty || registrationForm.controls['phone'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="registrationForm.controls['phone'].errors?.required">
                            Mobile Number is required.
                        </div>
                    </div>
                </div>
                <div>
                    <div class="form-group" style="display:flex;">
                        <label style="color:black;">Age</label>
                        <input style="width:100%;" formControlName="age" type="range" min="0" max="100" class="slider"
                            id="myRange"><br>
                        <p><span id="demo" style="color: black;font-size: 14px;">{{registrationForm.controls['age'].value}}</span></p>
                    </div>
                    <div class="alert alert-danger" *ngIf="registrationForm.controls['age'].value < 18">
                        Age should be more than or equalt to 18.
                    </div>
                </div>
                <div style="display: flex;">
                    <select class="form-control" formControlName="city" name="city"
                         type="text" style="font-size:1rem; color:grey;">
                        <option value=null>City</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Dheradun">Dheradun</option>
                        <option value="Kolkata">Kolkata</option>
                        <option value="pune">pune</option>
                    </select>

                    <div *ngIf="registrationForm.controls['city'].invalid && (registrationForm.controls['city'].dirty || registrationForm.controls['city'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="registrationForm.controls['city'].errors?.required">
                            City is required.
                        </div>
                    </div>
                

                <div class="form-group" style=" padding-left: 5%;">
                    <select class="form-control" formControlName="state" name="stats"
                        style="width:50%; margin-right:10px;" type="text" style="font-size:1rem; color:grey;">
                        <option value=null>State</option>
                        <option value="Maharastra">Maharastra</option>
                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                        <option value="Bihar">Bihar</option>
                        <option value="West Bengal">West Bengal</option>
                        <option value="pune">pune</option>
                    </select>

                </div>
                <div *ngIf="registrationForm.controls['state'].invalid && (registrationForm.controls['state'].dirty || registrationForm.controls['state'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="registrationForm.controls['state'].errors?.required">
                        State is required.
                    </div>
                </div>
                </div>
                
                <div class="form-group">
                    <select class="form-control" name="address" formControlName="address"
                        style="width:90%; margin-right:10px;" type="text" style="font-size:1rem; color:grey;">
                        <option value=null>Address</option>
                        <option value="Home">Home</option>
                        <option value="Company">Company</option>
                    </select>
                </div>

                <div *ngIf="registrationForm.controls['address'].invalid && (registrationForm.controls['address'].dirty || registrationForm.controls['address'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="registrationForm.controls['address'].errors?.required">
                        Address is required.
                    </div>
                </div>

                <div *ngIf="registrationForm.controls['address'].value === 'Home'" style="display:flex;"
                    class="form-group">
                    <input style="width:50%; margin-right:10px;" id="fN" type="text" formControlName="address1"
                        class="form-control" placeholder="Address 1" required>
                    <input style="width:50%;" type="text" id="lN" formControlName="address2" class="form-control"
                        placeholder="Address 2" required>
                </div>

                <div *ngIf="registrationForm.controls['address'].value === 'Company'" style="display:flex;"
                    class="form-group">
                    <input style="width:50%; margin-right:10px;" id="fN" type="text" formControlName="address1"
                        class="form-control" placeholder="Company Address 1" required>
                    <input style="width:50%;" type="text" id="lN" formControlName="address2" class="form-control"
                        placeholder="Company Address 2" required>
                </div>
                <div *ngIf="registrationForm.controls['address1'].invalid && (registrationForm.controls['address1'].dirty || registrationForm.controls['address1'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="registrationForm.controls['address1'].errors?.required">
                        {{registrationForm.controls['address'].value === 'Company' ? 'Company' : ''}} Address 1 is
                        required.
                    </div>
                </div>
                <div *ngIf="registrationForm.controls['address2'].invalid && (registrationForm.controls['address2'].dirty || registrationForm.controls['address2'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="registrationForm.controls['address2'].errors?.required">
                        {{registrationForm.controls['address'].value === 'Company' ? 'Company' : ''}} Address 2 is
                        required.
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" formControlName="tags" placeholder="Tags" required>
                    <div *ngIf="registrationForm.controls['tags'].invalid && (registrationForm.controls['tags'].dirty || registrationForm.controls['tags'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="registrationForm.controls['tags'].errors?.required">
                            Tags is required.
                        </div>
                    </div>
                    <div><br>

                        <div class="form-group">
                            <input type="checkbox" formControlName="che" id="che" value="true" style="width: 15px;height: 15px;">
                            <label for="che" style="color:grey;font-size: 15px;">subscribe to newseltter</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div style="margin-left: 350px; text-align: center; margin-top: 40px; ">
    <button  style="margin-right: 30px;" class= "btn btn-danger" (click)="onCancelClick()">Cancel</button>
    <button class= "btn btn-primary" (click)="onSubmit()">Submit</button>
</div>
</div>
